$primary: #FFC422;
$secondary: #65624C;
$price: #263238;
$dayborder: #EEE7E7;
$daybackground: #F9F9F9;

.workspace {
  .workcard-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    row-gap: 61px;
    column-gap: 57px;
    padding-top: 40px;
  @media screen and (max-width:1400px) {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 31px;
    column-gap: 27px;
  }
  @media screen and (max-width:991px) {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 31px;
    column-gap: 27px;
  }
  }
}
