$primary: #ffc422;
$secondary: #65624c;
$price: #263238;
$dayborder: #eee7e7;
$daybackground: #f9f9f9;

.workcard {
  box-shadow: 0px 1.08px 8.63px 0px rgba(0, 0, 0, 0.06);
  padding: 12px;
  background: rgba(#EEE7E7, 80%);
  &:hover {
    transform: scale(1.05);
    transition: all 500ms ease-in;
  }
  .wrokcard-wrapper {
    .card-address {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 16px;
      h3 {
        font-size: 20px;
        font-weight: 600;
        line-height: 24.2px;
        text-align: left;
        @media screen and (max-width: 576px) {
          font-size: 18px;
          font-weight: 500;
          line-height: 21.78px;
          text-align: left;
        }
        @media screen and (max-width: 400px) {
          font-size: 16px;
        }
      }
      .map {
        width: 52px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: center;
        padding: 8px;
        border: 0.5px solid #eee7e7;
        background: $daybackground;
        border-radius: 6.47px;
        &:hover {
          background: $dayborder;
        }
        img {
          width: 18px;
          object-fit: contain;
        }
        p {
          font-size: 8px;
          font-weight: 500;
          line-height: 9.68px;
          text-align: center;
          margin-bottom: 0;

          color: rgba($price, 0.5);
        }
      }
    }
    .card-thumbnail {
      min-width: 346px;
      width: 100%;
      border-radius: 6px;
      padding-bottom: 22px;
      position: relative;
      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }
      img {
        width: 100%;
        object-fit: contain;
        border-radius: 6px;
      }
      .feature{
        height: 32px;
        width: 109px;
        top: 8px;
        position: absolute;
      }
      @media screen and (max-width: 576px) {
        min-width: unset;
        width: 100%;
      }
    }
    .card-buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .daypass {
        width: 167px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 6px;
        padding: 9px;
        border: $dayborder 1px solid;
        background: $daybackground;
        &:hover {
          transform: scale(1.01);
          transition: all ease-in 500ms;
        }
        .button-left {
          display: flex;
          flex-direction: column;
          p {
            font-size: 14px;
            font-weight: 500;
            line-height: 16.94px;
            text-align: left;
            color: #65624c;
            margin-bottom: 8px;
          }
          .amount {
            display: flex;
            align-items: center;
            h3 {
              font-size: 20px;
              font-weight: 600;
              line-height: 24.2px;
              text-align: left;
              margin-bottom: 0;
              @media screen and (max-width: 576px) {
                font-size: 18px;
                font-weight: 600;
                line-height: 21.78px;
                text-align: left;
              }
            }
            p {
              font-size: 12px;
              font-weight: 500;
              line-height: 14.52px;
              text-align: left;
              margin-bottom: 0;
            }
          }
        }
        .button-right {
          img {
          }
        }
      }
      .bulkpass {
        width: 167px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: $primary;
        border: 1px solid $primary;
        border-radius: 6px;
        padding: 9px;
        position: relative;
        &:hover {
          transform: scale(1.01);
          transition: all ease-in 500ms;
        }
        .button-left {
          display: flex;
          flex-direction: column;
          p {
            font-size: 14px;
            font-weight: 500;
            line-height: 16.94px;
            text-align: left;
            margin-bottom: 8px;
          }
          .amount {
            display: flex;
            align-items: center;
            h3 {
              font-size: 20px;
              font-weight: 600;
              line-height: 24.2px;
              text-align: left;
              margin-bottom: 0;
               @media screen and (max-width: 576px) {
                font-size: 18px;
                font-weight: 600;
                line-height: 21.78px;
                text-align: left;
              }
            }
            p {
              font-size: 12px;
              font-weight: 500;
              line-height: 14.52px;
              text-align: left;
              margin-bottom: 0;
            }
          }
        }
        .button-right {
          img {
          }
        }
        .discount {
          position: absolute;
          background: #263238;
          color: #fffdf7;
          border-radius: 3px;
          display: flex;
          align-items: center;
          justify-content: center;
          top: -9px;
          left: 47px;
          @media screen and (max-width: 400px) {
            left: 34px;
          }

          p {
            font-size: 8px;
            font-weight: 500;
            margin-bottom: 0;
            padding: 4px 8px;
            line-height: 9.68px;
            text-align: left;
            @media screen and (max-width: 400px) {
              font-size: 6px;
            }
          }
        }
      }
      .daypass,
      .bulkpass {
        @media screen and (max-width: 400px) {
          width: auto;
        }
      }
    }
  }
}
